@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 3px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 2 + var(--hamburger-gap));
  --heading-color: #2e1325;
  --general-text-color: #7b7a7b;
  --square1-color: #eae2e7;
  --square2-color: #f3f3f3;
}

/* html {
  background: url("../src/assets/images/bienvenido.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

.toggle-inLine {
  display: block;
}

.toggle-hamburger {
  display: none;
}

.show-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
}

.menu-styles a {
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  color: var(--general-text-color);
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--square2-color);
  padding: 2rem;
}

.logo {
  position: absolute;
  display: fixed;
  text-decoration: none;
  font-size: 2rem;
  color: #a09d9d;
  z-index: 5;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
}

.mountains {
  background: url("../src/assets/images/mountains.png") no-repeat center center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.mountains p {
  margin-top: 2rem;
  width: 55%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 200;
  color: var(--heading-color);
}

.office {
  background: url("../src/assets/images/office.png") no-repeat center center;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.square-card {
  background-color: var(--square2-color);
  border-radius: 10px;
  max-width: 70%;
  height: 55%;
  margin: 8%;
  position: absolute;
}

.arrow-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin: 2rem;
}

.arrow-buttons > button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.right-arrow, .left-arrow {
  fill: var(--heading-color);
  background-color: var(--square1-color);
  border-radius: 50%;
  padding: 5px;
}

.right-arrow:hover, .left-arrow:hover {
  background-color: var(--heading-color);
  fill: var(--square1-color);
}

.square-wrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.title-card {
  width: 30%;
}

.bullet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
}

.card-text-title {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}

.card-text-subtitle {
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.regular-card-text {
  margin: 0;
  color: var(--general-text-color);
  font-size: 1rem;
}

.hidden-arrow{
  display: none;
}

.industries-list {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services-container {
  display: flex;
  min-width: 100vh;
  min-height: 80vh;
  justify-content: space-between;
  margin: 0 0 5% 5%;
  position: relative;
}

.services {
  margin-top: 7%;
  flex-grow: 1;
}

.services-cards {
  background: url("../src/assets/images/servicios.png") no-repeat center center;
  background-size: 150% auto;
  flex-grow: 10;
}

.services-info-container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin: 20% 10% 10% 20%;
  width: auto;
}

.services-img-container {
  background-color: var(--square2-color);
  padding: 4%;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-img-container img {
  width: 80%;
  height: 80%;
}

.services-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.services-info-wrapper ul {
  padding: 0;
  padding-left: 6%;
}

.lower-alpha {
  list-style: lower-alpha
}

.bullet-points {
  list-style: disc;
}

.equipo-containter {
  display: flex;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  margin: 0 0 5% 5%;
  background: url("../src/assets/images/equipo-fondo.png");
  background-size: cover;
  background-position: 10rem;
  height: 70vh;
}

.team-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--square1-color);
  border-radius: 20px 0 0 20px;
  padding: 5%;
}

.team-member {
  display: flex;
  padding: 0 5% 0 5%;
}

.ceo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.ceo-container img {
  width: 3rem;
}

.ceo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ceo-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.ceo-resume p {
  font-size: 1rem;
}

.pumas {
  white-space: pre-wrap;
}

@media (max-width: 750px) {
  /* html {
    background: url("../src/assets/images/movile-welcome.jpg") no-repeat center center fixed;
    background-size: 95%;
  } */

  .toggle-inLine {
    display: none;
  }
  
  .toggle-hamburger {
    display: block;
  }

  .hamburger-menu::before,
  .hamburger-menu::after {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--general-text-color);
    transform-origin: left center;
    transition: width var(--animation-timing), rotate var(--animation-timing),
      translate var(--animation-timing);
    z-index: 5;
  }
  
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    gap: var(--hamburger-gap);
    border-radius: 10px;
    z-index: 5;
  }

  .hamburger-menu input {
    content: '';
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    z-index: 5;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -4.5);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 4.5);
  }

  .nav-links {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--square2-color);
    width: 100%;
    height: 100vh;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
    z-index: 4;
  }

  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .show-menu {
    flex-direction: column;
    margin-top: 50%;
    margin-bottom: 50%;
    padding-left: 1rem;
    gap: 0.5rem;
    position: absolute;
  }

  .square-card {
    position: relative;
    max-width: 80%;
  }

  .square-wrapper {
    flex-direction: column;
  }

  .arrow-button {
    margin-top: 10%;
    margin-left: 80%;
  }

  .title-card {
    width: auto;
  }

  .services-container {
    flex-direction: column;
    min-width: -webkit-fill-available;
  }

  .services-cards {
    background-position: bottom;
  }

  .services-info-container {
    flex-direction: column;
    margin: 40% 20% 50% 20%;
  }

  .services-img-container {
    border-radius: 20px 20px 0 0;
  }

  .services-info-wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
}
